VITE_API_URL=http://localhost:3000

VITE_KEYCLOAK_URL=http://localhost
VITE_KEYCLOAK_REALM=sistema-centralizado
VITE_KEYCLOAK_CLIENT_ID=proyecto-test

# If Keycloak is exposed on port 8080, use:
# VITE_KEYCLOAK_URL=http://localhost:8080
